*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.container {
    width: 1140px;
    margin: 0 auto;  
} 
.bir-6{
     padding-top: 100px;
}
.bir-6 .container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.text-6{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
height: 100px;
font-size: 40px;
color: #3D3D3F;
}
.rasmimg1{
    width: 743px;
height: 547px;
position: relative;
}
.rasm-1{

    width: 140px;
    height: 140px;
    position: absolute;
    background-color: blue;
    right: 317px;
    border-radius: 100%;
}
.rasm-2{
    width: 128px;
    height: 128px;
    position: absolute;
    background-color: blue;
    border-radius: 100%;
    bottom: 302px;
    right: 615px;
}
.kot1{
    position: absolute;
width: 22px;
height: 22px;
background: linear-gradient(3.03deg, rgba(243, 47, 47, 0.9) -100.62%, rgba(243, 47, 47, 0.55) 120.92%);
opacity: 0.8;
border-radius: 100%;
bottom: 346px;
left: 269px;
}
.kot2{
    position: absolute;
width: 22px;
height: 22px;
background: linear-gradient(90.46deg, #47C2FF -141.71%, rgba(99, 203, 254, 0.65) 97.21%);
opacity: 0.8;
border-radius:100% ;
bottom: 362px;
right: 250px;
}
.rasm-3{
    position: absolute;
width: 154px;
height: 154px;
background-color: blue;
border-radius: 100%;
top: 126px;
left: 589px;
}
.kot-4{
    position: absolute;
    width: 22px;
    height: 22px;
    background: linear-gradient(88.3deg, #AA80FF -71.4%, rgba(160, 113, 255, 0.65) 151.53%);
    opacity: 0.8;
    right: 568px;
    border-radius: 100%;
    bottom:238px;
}
.rasm-5{

    position: absolute;
    width: 180px;
    height: 180px;
    background-color: turquoise;
    border-radius: 100%;
    right:  297px;
    top: 221px;
}
.rasm-6{
    position: absolute;
width: 152px;
height: 152px;
background-color: turquoise;
border-radius: 100%;
bottom: 0px;
left: 77px;
box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
}
.kot-5{
    position: absolute;
width: 16px;
height: 16px;
background: linear-gradient(88.3deg, #79E28A -274.73%, rgba(121, 226, 177, 0.65) 96.22%);
opacity: 0.8;
border-radius: 100%;
bottom: 105px;
right: 285px;
}
.AAA{
    position: absolute;
width: 145.32px;
height: 145.32px;
background-color: aqua;
border-radius: 100%;
bottom: 20px;
left: 501px;
border: 4px solid orangered;
box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
}